<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
>
<header th:replace="~{fragment/header :: header}">


</header>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.js'></script>
<script>

    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            themeSystem: 'bootstrap5',
            locale : 'ko',
            editable : true,
            droppable: true,
            headerToolbar : {
                left : 'addEventButton',
                center : 'title',

            },
            events : [{
                title : 'Fullcalendar Coming',
                start : '2023-09-09',
                end : '2023-09-10'
            }],
            customButtons : {
                addEventButton : {
                    text : "일정 추가",
                }
            }
        });
        calendar.render();
    });

</script>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- 사이드바 fragment -->
    <ul th:replace="~{fragment/sideBar :: sideBar}"></ul>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!--  상단바 Fragment  -->
            <nav th:replace="~{fragment/navBar :: navBar}"></nav>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <h1 class="h3 mb-1 text-gray-800">Hospital Employee Scheduler Service</h1>
                <p class="mb-4">병원 근무 자동 조율표 입니다.</p>

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Hospital Table</h6>
                    </div>
                    <div class="card-body">
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
        <!-- 푸터 Fragment -->
        <footer th:replace="~{fragment/footer :: footer}"></footer>
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->


<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<div th:replace="~{fragment/scriptFragment :: scriptFragment}"></div>

</body>
<script th:inline="javascript">
    /*<![CDATA[*/

    /*]]>*/
</script>

</html>