<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>

<header th:replace="~{fragment/header :: header}">

</header>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul th:replace="fragment/sideBar :: sideBar"></ul>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <nav th:replace="~{fragment/navBar :: navBar}"></nav>
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Notice</h1>
                <p class="mb-4">기본 공지사항 서비스</p>


                <!-- row start-->
                <div class="row">
                    <div class="col-lg-8">
                        <!-- DataTales Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Notice Table</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="datsaTable" width="100%" cellspacing="0">
                                        <thead>
                                        <tr>
                                            <th width="40%">Title</th>
                                            <th width="20%">Writer</th>
                                            <th width="20%">Created Date</th>
                                            <th width="20%">Updated Date</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="Notice : ${NoticeEntity}">
                                            <td><a href="javascript:void(0);"
                                                   th:onclick="|javascript:getNotice('${Notice.id}')|"
                                                   th:text="${Notice.title}">Title</a></td>
                                            <td th:text="${Notice.writer.userName}">Writer</td>
                                            <td th:text="${Notice.createdTime}">Created Date</td>
                                            <td th:text="${Notice.updatedTime}">Updated Date</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>

                    <!-- 입력 컨트롤 -->
                    <div class="col-lg-4">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Apply Notice</h6>
                            </div>
                            <div class="card-body">
                                <form class="user" th:action="@{/service/notice/apply}" method="post">
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control form-control-user" id="userName"
                                                   name="userName"
                                                   placeholder="writer">
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control form-control-user" id="title"
                                                   name="title"
                                                   placeholder="Title">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" style="height: 300px;"
                                                  placeholder="Leave a Content" id="contents" name="contents"
                                        ></textarea>
                                    </div>
                                    <hr>
                                    <div class="row align-items-center">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <button class="btn btn-success btn-user btn-block ">
                                                <i class="fas fa-check"></i> Apply
                                            </button>
                                        </div>
                                        <div class="col-sm-6">
                                            <button class="btn btn-outline-danger btn-user btn-block ">
                                                <i class="fas fa-trash"></i> Delete
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
        <footer th:replace="~{fragment/footer :: footer}"></footer>
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<div th:replace="~{fragment/scriptFragment ::scriptFragment}"></div>
</body>

<script type="text/javascript">
    function getNotice(idx) {
        $.ajax({
            type: 'GET',           // 타입 (get, post, put 등등)
            url: '/service/notice/find',     // 요청할 서버url
            async: true,            // 비동기화 여부 (default : true)
            data: {
                "id": idx
            },
            headers: {              // Http header
                "Content-Type": "application/json",
            },
            dataType: 'json',       // 데이터 타입 (html, xml, json, text 등등)
            success: function (result) {                // 결과 성공 콜백함수
                $("#userName").val(result.writer.userName)
                $("#title").val(result.title)
                $("#contents").val(result.contents)
            },
            error: function (request, status, error) { // 결과 에러 콜백함수
                console.log(error)
            }
        })

    }
</script>

</html>