<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="~{fragment/header :: header}">
</head>


<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- 사이드바 fragment -->
    <ul th:replace="~{fragment/sideBar :: sideBar}"></ul>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!--  상단바 Fragment  -->
            <nav th:replace="~{fragment/navBar :: navBar}"></nav>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <h1 class="h3 mb-1 text-gray-800">Hospital Employee Scheduler Service</h1>
                <p class="mb-4">병원 근무자들의 근무 스케쥴 자동배정 서비스와 각종 부서의 공지사항등을 관리합니다.</p>

                <div class="row">
                    <div class="col-lg-9">
                        <div class="card shadow mb-4">
                            <div class="card-header cal_nav py-3 d-flex flex-row align-items-center justify-content-lg-center">
                                <a href="javascript:" class="nav-btn btn btn-circle btn-lg go-prev">
                                    <i class="fas fa-arrow-circle-left"></i>
                                </a>
                                <h3 class="m-0 font-weight-bold text-primary year-month ml-5 mr-5"></h3>
                                <a href="javascript:" class="nav-btn btn btn-circle btn-lg go-next">
                                    <i class="fas fa-arrow-circle-right"></i>
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="row justify-content-evenly">
                                    <div class="col text-center">MON</div>
                                    <div class="col text-center">TUE</div>
                                    <div class="col text-center">WED</div>
                                    <div class="col text-center">THU</div>
                                    <div class="col text-center">FRI</div>
                                    <div class="col text-center text-primary">SAT</div>
                                    <div class="col text-center text-danger">SUN</div>
                                </div>
                                <hr>
                                <div class="dates">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- 푸터 Fragment -->
        <footer th:replace="~{fragment/footer :: footer}"></footer>
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<div th:replace="~{fragment/scriptFragment :: scriptFragment}"></div>

</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        calendarInit();
    });


    /*
        달력 렌더링 할 때 필요한 정보 목록

        현재 월(초기값 : 현재 시간)
        금월 마지막일 날짜와 요일
        전월 마지막일 날짜와 요일
    */
    function calendarInit() {

        // 날짜 정보 가져오기
        let date = new Date(); // 현재 날짜(로컬 기준) 가져오기
        let utc = date.getTime() + (date.getTimezoneOffset() * 60 * 1000); // uct 표준시 도출
        let kstGap = 9 * 60 * 60 * 1000; // 한국 kst 기준시간 더하기
        let today = new Date(utc + kstGap); // 한국 시간으로 date 객체 만들기(오늘)

        let thisMonth = new Date(today.getFullYear(), today.getMonth(), today.getDate());
        // 달력에서 표기하는 날짜 객체

        let currentYear = thisMonth.getFullYear(); // 달력에서 표기하는 연
        let currentMonth = thisMonth.getMonth(); // 달력에서 표기하는 월
        let currentDate = thisMonth.getDate(); // 달력에서 표기하는 일

        // 캘린더 렌더링
        renderCalender(thisMonth);

        function renderCalender(thisMonth) {

            $('.dates').html("");

            // 렌더링을 위한 데이터 정리
            currentYear = thisMonth.getFullYear();
            currentMonth = thisMonth.getMonth();
            currentDate = thisMonth.getDate();

            // 이전 달의 마지막 날 날짜와 요일 구하기
            let startDay = new Date(currentYear, currentMonth, 0);
            let prevDate = startDay.getDate();
            let prevDay = startDay.getDay();

            // 이번 달의 마지막날 날짜와 요일 구하기
            let endDay = new Date(currentYear, currentMonth + 1, 0);
            let nextDate = endDay.getDate();
            let nextDay = endDay.getDay();

            // 현재 월 표기
            $('.year-month').text(currentYear + '.' + (currentMonth + 1));

            // html 요소 생성
            let appendHtml = '';
            // 7일단위로 라인 변경
            let _rowChk = 1;

            // 지난달
            for (let i = prevDate - prevDay + 1; i <= prevDate; i++) {
                if (_rowChk == 1) {
                    appendHtml += '<div class="row justify-content-evenly">';
                }
                appendHtml += '<div class="col card m-3" style="height: 300px"><div class="card-body"><div class="text-gray-400">' + i + '</div></div></div>';
                _rowChk++;
            }
            // 이번달
            for (let i = 1; i <= nextDate; i++) {
                if (_rowChk % 7 == 1) {
                    appendHtml += '<div class="row justify-content-evenly">';
                }
                appendHtml += '<div class="col card m-3 current" style="height: 300px"><div class="card-body"><div class="text-black">' + i + '</div></div></div>';
                if (_rowChk % 7 == 0) {
                    appendHtml += '</div>';
                }
                _rowChk++;
            }
            // 다음달
            for (let i = 1; i <= (7 - nextDay == 7 ? 0 : 7 - nextDay); i++) {
                if (_rowChk % 7 == 1) {
                    appendHtml += '<div class="row justify-content-evenly">';
                }
                appendHtml += '<div class="col card m-3" style="height: 300px"><div class="card-body"><div class="text-gray-400">' + i + '</div></div></div>';
                if (_rowChk % 7 == 0) {
                    appendHtml += '</div>';
                }
                _rowChk++;
            }
            $('.dates').append(appendHtml);

            // 오늘 날짜 표기
            if (today.getMonth() == currentMonth) {
                todayDate = today.getDate();
                var currentMonthDate = document.querySelectorAll('.dates .current');
                currentMonthDate[todayDate - 1].classList.add('border-bottom-info');
            }
        }

        // 이전달로 이동
        $('.go-prev').on('click', function () {
            thisMonth = new Date(currentYear, currentMonth - 1, 1);
            renderCalender(thisMonth);
        });

        // 다음달로 이동
        $('.go-next').on('click', function () {
            thisMonth = new Date(currentYear, currentMonth + 1, 1);
            renderCalender(thisMonth);
        });
    }

    /*]]>*/
</script>

</html>