<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="~{fragment/header :: header}"></head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <ul th:replace="~{fragment/sideBar :: sideBar}"></ul>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <nav th:replace="~{fragment/navBar :: navBar}"></nav>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- 404 Error Text -->
                <div class="text-center">
                    <div class="error mx-auto" data-text="404">404</div>
                    <p class="lead text-gray-800 mb-5">Welcome to DevInfo</p>
                    <p class="text-gray-500 mb-0">주니어 개발자 DevLee 입니다.</p>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <footer th:replace="~{fragment/footer :: footer}"></footer>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
<div th:replace="~{fragment/scriptFragment :: scriptFragment}"></div>

</body>

</html>