<!DOCTYPE html>
<html lang="ko"
    xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="fragment/header :: header">

</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- 사이드바 fragment -->
        <ul th:replace="~{fragment/sideBar :: sideBar}"></ul>
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!--  상단바 Fragment  -->
                <nav th:replace="~{fragment/navBar :: navBar}"></nav>
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Welcome</h1>
                    </div>

                    <div class="row">
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Info</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Dev_Info</div>
                                        </div>
                                        <div class="col-auto">
                                            <a class="btn btn-circle btn-success" th:href="@{/info/devInfo}">
                                                <i class="fas fa-info"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Service</h1>
                    </div>

                    <div class="row">
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Service / Notice</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Notice Service</div>
                                        </div>
                                        <div class="col-auto">
                                            <a class="btn btn-circle btn-primary" th:href="@{/service/notice}">
                                                <i class="fas fa-book"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Service / Hospital</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Hospital Employee Scheduler Service</div>
                                        </div>
                                        <div class="col-auto">
                                            <a class="btn btn-circle btn-primary" th:href="@{/service/hospital}">
                                                <i class="fas fa-calendar"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            <!-- 푸터 Fragment -->
            <footer th:replace="~{fragment/footer :: footer}"></footer>
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!--  스크립트 Fragment   -->
    <div th:replace="~{fragment/scriptFragment ::scriptFragment}"></div>
</body>

</html>